* {
    --pebble: #EEEEEE;
    --yam: #EA9216;
    --cyan: #3AABC6;
    --cadet-blue: #373737;
    --high-tide: #1E1E1E;
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    background-color: var(--high-tide);
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: var(--pebble);
}

.sidebar h2 {
    margin: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    background-color: var(--cadet-blue);
    padding: 20px 0;
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    color: #007bff;
}